In [ ]:
# 3314. 보충학습과 평균
# 4분 30초 소요

T=int(input())

for t in range(1,T+1):
  scores=list(map(int,input().split()))

  for i in range(5):
    if scores[i]<40:
      scores[i]=40

  print(f'#{t} {sum(scores)//5}')

1
10 65 100 30 95
#1 68

In [ ]:
# 4751. 다솔이의 다이아몬드 장식
# 50분 소요

tag=[0,1,2,1,0]

T=int(input())

for t in range(1,T+1):
  result=[ [] for _ in range(5)]
  string=input()
  dot_list=[['.']*5 for _ in range(5)]

  for i in range(5):
    dot_list[i][2-tag[i]]='#'
    dot_list[i][2+tag[i]]='#' # 다이아몬드 #
    
  dot_list[2][2]=string[0] # 문자열

  for i in range(5):
    result[i]=dot_list[i]

  #print('result1:',result)

  ######## 다음 문자열들

  for i in range(1,len(string)):
    dot_list=[['.']*5 for _ in range(5)]

    for j in range(5):
      dot_list[j][2-tag[j]]='#'
      dot_list[j][2+tag[j]]='#'

    dot_list[2][2]=string[i]

    for x in range(5):
      for y in range(1,5):
        result[x].append(dot_list[x][y])

  for item in result:
    print(''.join(item))

2
D
..#..
.#.#.
#.D.#
.#.#.
..#..
APPLE
..#...#...#...#...#..
.#.#.#.#.#.#.#.#.#.#.
#.A.#.P.#.P.#.L.#.E.#
.#.#.#.#.#.#.#.#.#.#.
..#...#...#...#...#..

In [ ]:
result=[[',']*5 for _ in range(5)]
result

[[',', ',', ',', ',', ','],
 [',', ',', ',', ',', ','],
 [',', ',', ',', ',', ','],
 [',', ',', ',', ',', ','],
 [',', ',', ',', ',', ',']]

In [ ]:
result=[ [] for _ in range(5)]
result

[[], [], [], [], []]